{% extends 'layout.html' %} {% block title %} Register {% endblock %}

{% block main %}

<form class="validation" action="/register" method="post">
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="name" placeholder="الاسم" required type="text">
    </div>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="phone" placeholder="الهاتف" type="tel" required>
    </div>
    <div class="form-group">
        <input class="form-control" name="password" placeholder="كلمة السر" type="password" required>
    </div>
    <div class="form-group">
        <input class="form-control" name="confirmation" placeholder="اعادة كلمة السر" type="password" required>
    </div>
    <div class="form-group">
        <select id="service" class="form-control" name="gander" required>
            <option selected value="female"> انثى</option>
            <option value="male"> ذكر</option>
        </select>
    </div>

    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="reg_date" placeholder="التاريخ" type="date">
    </div>

    <div class="form-group">
        <select id="service" class="form-control" name="list" required>
            <option selected disabled value="">البرنامج ​العلاجي</option>
            {% for l in list %}
            <option value="{{ l }}">{{ l }}</option>
            {% endfor%}
        </select>
    </div>
    <div class="form-group">
        <select id="service" class="form-control" name="sub_list" required>
            <option selected disabled value="">الحالة</option>
            {% for s in sublist %}
            <option value="{{ s }}">{{ s }}</option>
            {% endfor%}
        </select>
    </div>
    <input name="craft" class="btn btn-primary" type="submit" value="التسجيل"></input>
    <button class="btn btn-secondary" type="reset"> مسح</button>
</form>
{% endblock %}